.hud-settings {
    @apply flex flex-row z-50;

    .gear-icon {
        @apply h-12 ml-4;

        fill: white;
        transition: transform 3s ease-in-out;

        &:hover {
            transform: rotate(360deg)
        }
    }
    .battery-icon {
        @apply h-12 w-12 mx-4;

        transform: rotate(90deg);
        fill: green;
    }
    .wifi-icon {
        @apply w-12 h-12 mx-4;
        fill: green;
    }
}